<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    Menu
</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="py-2">
        <a href="/pages/inmobiliaria">Inmobiliaria</a>
    </div>
    <div class="py-2">
        <a href="/pages/offices">Oficinas</a>
    </div>
    <div class="py-2">
        <a href="/pages/owners">Propietarios</a>
    </div>
    <div class="py-2">
        <a href="/pages/visits">Visitas</a>
    </div>
    <div class="py-2">
        <a href="/pages/clients">Clientes</a>
    </div>
</div>
</div>
<h1 class="text-center m-4">INMOBILIARIA</h1>
<router-outlet></router-outlet>