.navbar-home {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    opacity: 0.8;
}

.btn-menu {
    margin-left: -60px;
    border: none;
    -webkit-box-shadow: 6px 2px 35px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 2px 35px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 2px 35px -3px rgba(0, 0, 0, 0.75);
    padding: 0;
    transition: 0.8s;
}

.img-menu {
    width: 40px;
    height: 40px;
}

.title-in {
    margin-right: 50px;
}

.offcanvas-body {
    margin-left: -10px;
}

.pages-anc {
    text-decoration: none;
}

.py-2 {
    margin-left: 10px;
    font-size: medium;
    padding-left: 20px;
    color: #000;
}

.py-2:hover {
    background-color: rgb(66, 206, 248);
    transition: 0.6s;
}

.content-tables {
    margin: 0px 20px;
    -webkit-box-shadow: 6px 2px 35px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 2px 35px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 2px 35px -3px rgba(0, 0, 0, 0.75);
}