<nav class="navbar navbar-light bg-light navbar-home">
    <button type="button" class="btn-menu" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <img class="img-menu" src="../../assets/img/menu.png">
    </button>
</nav>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="0" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Lista de Componentes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a class="pages-anc" href="/pages/inmobiliaria">
            <div class="py-2">
                Inmobiliaria
            </div>
        </a>
        <a class="pages-anc" href="/pages/offices">
            <div class="py-2">
                Oficinas
            </div>
        </a>
        <a class="pages-anc" href="/pages/owners">
            <div class="py-2">
                Propietarios
            </div>
        </a>
        <a class="pages-anc" href="/pages/visits">
            <div class="py-2">
                Visitas
            </div>
        </a>
        <a class="pages-anc" href="/pages/clients">
            <div class="py-2">
                Clientes
            </div>
        </a>
    </div>
</div>

<div class="content-table">
    <router-outlet></router-outlet>
</div>