<div class="wrapper">
    <span class="icon-help">
        <i class="fa-solid fa-circle-info"></i>
    </span>
    <div class="form-box login">
        <h2>Login</h2>
        <div class="input-box">
            <span class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </span>
            <input type="email" [(ngModel)]="email">
            <label>Email</label>
        </div>
        <div class="input-box">
            <span class="icon">
                    <i class="fa-solid fa-lock"></i>
                </span>
            <input type="password" [(ngModel)]="password">
            <label>Password</label>
        </div>
        <div class="remerber-forgot">
            <label for="">
                    <input type="checkbox">
                    Recuerdame
                </label>
            <a href="#">Olvidaste la contraseña</a>
        </div>
        <button type="submit" class="btn-login" (click)="login()">Login</button>
        <div class="login-register">
            <p>
                Desea registrarse?
                <a href="#" class="register-link">
                        Registrar
                    </a>
            </p>
        </div>
    </div>

</div>