<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Tipo ganancia</th>
            <th scope="col">Tipo inmueble</th>
            <th scope="col">Superficie</th>
            <th scope="col">Dirección</th>
            <th scope="col"># Habitaciones</th>
            <th scope="col"># Baños</th>
            <th scope="col"># Cocinas</th>
            <th scope="col">Gas</th>
            <th scope="col">Parqueadero</th>
            <th scope="col">Precio</th>
            <th scope="col"># Referencia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Venta</th>
            <td>Casa</td>
            <td>40m^2</td>
            <td>Cra 24</td>
            <td>3</td>
            <td>1</td>
            <td>1</td>
            <td>Si</td>
            <td>No</td>
            <td>300000000</td>
            <td>3</td>
        </tr>
    </tbody>
</table>