<div class="contenido">
    <header>
        <h2 class="logo">
            <span class="icon">
                <i class="fa-solid fa-house"></i>
            </span> JELU Inmobiliaria
        </h2>

        <nav class="navigation">
            <a href="/">Inicio</a>
            <a href="/quienes">Quienes somos</a>
            <a href="/proyectos">Disponibilidad</a>
            <a href="/contacto">Contactanos</a>
            <a class="btnLogin-popup" href="/login">Log In</a>
        </nav>
    </header>

    <!-- Desde este componente se gestiona los demas -->
    <router-outlet></router-outlet>

</div>