<div class="contenido">
    <header>
        <h2 class="logo">
            <span class="icon">
                <i class="fa-solid fa-house"></i>
            </span> Agencia Inmobiliaria
        </h2>

        <nav class="navigation">
            <a href="">Home</a>
            <a href="/quienes">About</a>
            <a href="/proyectos">Proyectos</a>
            <a href="/contacto">Contact</a>
            <a class="btnLogin-popup" href="/login">Login</a>
        </nav>
    </header>

    <!-- Desde este componente se gestiona los demas -->
    <router-outlet></router-outlet>

</div>