<div class="container">
    <div class="row">
        <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
            <h1>Nuestro excelente equipo de trabajo</h1>
            <p>Somos un equipo de personas jovenes, emprendedores, motivados por crear un
                <strong>futuro innovador, lleno de magia</strong>, nos reunimos a crear una
                idea solvente, con el fin de convertir el proyecto del papel a la realidad.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-success ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="../../assets/img/elisa.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Elisabet Castaño Salazar</p>
                    <span>Desarrolladora en: <strong>Elixir, Ruby, SQL, </strong><br>innovadora, y alegre</span>
                </div>
                <div class="col-md-12 section3">
                    <a href="https://www.facebook.com/Elii.Salazar.99" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="https://github.com/elisa6" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/elisabet-c-salazar/" target="_blank"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="../../assets/img/juan.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Juan David Calle</p>
                    <span>Analista de desarrollo: <strong>SQL, .Net, Python, </strong><br>lider, inteligente</span>
                </div>
                <div class="col-md-12 section3">
                    <a href="https://www.facebook.com/profile.php?id=100004207366911" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Juandacalle17" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/juan-david-calle-giraldo" target="_blank"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-danger ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="../../assets/img/luis.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>Luis Felipe Villalba</p>
                    <span>Desarrollador RPA: <strong>ElectroNeek, Python, JS, SQL, </strong><br>ansioso, entusiasta</span>
                </div>
                <div class="col-md-12 section3">
                    <a href="https://www.facebook.com/villaballesluis/" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/luisvill244" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/villalbaluiz/" target="_blank"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>