<h3 class="text-center m-4">Visitas</h3>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha y hora</th>
        <th scope="col">Comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>10/04/2023 14:00</th>
        <td>Bonita</td>
      </tr>
      <tr>
        <th>10/04/2023 15:00</th>
        <td>Cuartos amplios</td>
      </tr>
      <tr>
        <th>10/04/2023 16:00</th>
        <td>Linda</td>
      </tr>
    </tbody>
  </table>
  