.contenido-table {
    margin-top: 150px;
    background-color: ghostwhite;
    font-family: 'FontAwesome';
    font-size: 12px;
    color: darkblue;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}