<h3 class="text-center m-4">Crear inmobiliaria</h3>
<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Id</label>
            <input [(ngModel)]="inmobiliaria.id" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ganancia</label>
            <select [(ngModel)]="inmobiliaria.ganancia" class="form-control" id="exampleFormControlSelect1">
                <option value="Venta">Venta</option>
                <option value="Arriendo">Arriendo</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Inmueble</label>
            <select [(ngModel)]="inmobiliaria.inmueble" class="form-control" id="exampleFormControlSelect1">
                <option value="Casa">Casa</option>
                <option value="Apartamento">Apartamento</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cocinas</label>
            <input [(ngModel)]="inmobiliaria.cocinas" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gas</label>
            <select [(ngModel)]="inmobiliaria.gas" class="form-control" id="exampleFormControlSelect1">
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Precio</label>
            <input [(ngModel)]="inmobiliaria.precio" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        
    </div>

    <div class="col-6">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Superficie</label>
            <input [(ngModel)]="inmobiliaria.superficie" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Dirección</label>
            <input [(ngModel)]="inmobiliaria.address" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Habitaciones</label>
            <input [(ngModel)]="inmobiliaria.habitaciones" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Baños</label>
            <input [(ngModel)]="inmobiliaria.banos" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Parqueadero</label>
            <select [(ngModel)]="inmobiliaria.parqueadero" class="form-control" id="exampleFormControlSelect1">
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Referencia</label>
            <input [(ngModel)]="inmobiliaria.referencia" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary" (click)="addRegister()">{{admin.registerCurrent ? 'Editar' : 'Agregar'}}</button>
    </div>
</div>
