<div class="container  contenedor_casas">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/casas/disponibles/casa_barrio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casa de barrio</h5>
                    <h6 class="card-subtitle mb-2 fw-normal font-monospace"><strong>Chicago, USA</strong></h6>
                    <p class="card-text">Imagina vivir en una espectacular casa de barrio, para toda tu familia
                        con comodos espacios, y hermosas vistas.
                    </p>
                    <a href="https://goo.gl/maps/vz5BZ235i2vsDbVH9" class="btn txt_btn mr-2" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Ver barrio</a> 
                    <a href="/login" class="btn txt_btn "><i class="fa-solid fa-calendar-days"></i> Reservar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/casas/disponibles/casa_barroco.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casa medieval</h5>
                    <h6 class="card-subtitle mb-2 fw-normal font-monospace"><strong>Irlanda del norte</strong></h6>
                    <p class="card-text">¿Has soñado con vivir una experiencia europea a la antigua? 
                        Con nosotros y esta hermosa casa se hará realidad
                    </p>
                    <a href="https://goo.gl/maps/iuA863os89fMCdgD6" class="btn txt_btn mr-2" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Ver barrio</a>
                    <a href="/login" class="btn txt_btn "><i class="fa-solid fa-calendar-days"></i> Reservar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/casas/disponibles/casa_campo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pequeña granja</h5>
                    <h6 class="card-subtitle mb-2 fw-normal font-monospace"><strong>Roma, Italia</strong></h6>
                    <p class="card-text">Vive una aventura de campo, llena de sorpresas, y animales sin igual
                        en las agradables llanuras italianas.
                    </p>
                    <a href="https://goo.gl/maps/eer89r7yHMP4o1wU6" class="btn txt_btn mr-2" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Ver barrio</a>
                    <a href="/login" class="btn txt_btn "><i class="fa-solid fa-calendar-days"></i> Reservar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/casas/disponibles/casa_familia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casa familiar</h5 >
                    <h6 class="card-subtitle mb-2 fw-normal font-monospace"><strong>Medellin, Colombia</strong></h6>
                    <p class="card-text">Vive en una de las mejores ciudades de Colombia, acompañado
                        de tu familia, y disfrutando el mejor clima.
                    </p>
                    <a href="https://goo.gl/maps/a5b97QXTbifmS2SB6" class="btn txt_btn mr-2" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Ver barrio</a>
                    <a href="/login" class="btn txt_btn "><i class="fa-solid fa-calendar-days"></i> Reservar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/casas/disponibles/casa_lago.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casa de lago</h5> 
                    <h6 class="card-subtitle mb-2 fw-normal font-monospace"><strong>Islandia.</strong></h6>
                    <p class="card-text">Vive la experiencia helada que nos ofrece este pais, al 
                        lado de un hermoso paisaje mistico.</p>
                    <a href="https://goo.gl/maps/hZg9SdAaKYoXDBos7" class="btn txt_btn mr-2" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Ver barrio</a>
                    <a href="/login" class="btn txt_btn "><i class="fa-solid fa-calendar-days"></i> Reservar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/casas/disponibles/casa_sola.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Casa misteriosa</h5>
                    <h6 class="card-subtitle mb-2 fw-normal font-monospace "><strong>Armero, Colombia</strong></h6>
                    <p class="card-text">Si lo que deseas es vivir una experiencia sin igual y eres
                        amante de los sobrenatural, esta es para ti.</p>
                    <a href="https://goo.gl/maps/MYph4aGnWVUtZNrJ6" class="btn txt_btn mr-2" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Ver barrio</a>
                    <a href="/login" class="btn txt_btn "><i class="fa-solid fa-calendar-days"></i> Reservar</a>
                </div>
            </div>
        </div>
    </div>
</div> 