<header>
    <img src="../../assets/img/logo.png" alt="logo">
    <h1>JELU Inmobiliaria</h1>
    <p><strong>Tu casa de ensueños a un solo click</strong></p>
</header>
<div class="main-contain">
    <h2>Todo tipos de casas para ti</h2>
    <h3>Tenemos la mejor variedad de casas, para que cumplas tus sueños</h3>
    <div class="work">
        <img src="../../assets/img/casas/casa_1.jpg" alt="casa_moderna" class="anim">
        <img src="../../assets/img/casas/casa_2.jpg" alt="casa_bosque" class="anim">
        <img src="../../assets/img/casas/casa_3.jpg" alt="casa_campo" class="anim">
        <img src="../../assets/img/casas/casa_4.jpg" alt="casa_ciudad" class="anim">
    </div>

    <div class="header2">
        <h1 class="anim">Casos de éxito</h1>
        <p class="anim">Lorena y Paulo siempre quisieron tener <strong>la casa de sus sueños</strong>, pero nunca imaginaron que a través de internet y a un solo click encontrarían la forma de hacer realidad sus sueños.
            <strong>Tu también puedes hacer realidad los tuyos, ¿Qué estás esperando?</strong></p>
    </div>

    <div class="work2">
        <img class="anim" src="../../assets/img/casas/casa_inteligente.jpg" alt="Paulo Casa">
        <p>
            Paulo, un cliente satisfecho
        </p>
        <img class="anim" src="../../assets/img/casas/casa_rosada.jpg" alt="Lorena Casa">
        <p>
            Lorena, una mujer feliz
        </p>
    </div>
</div>